# Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

##Objectives

In [5]:
#Some of the popular languages that Data Scientists use are:

list = ["R", "Stata", "Python", "Julia", "Eviews"]
orded_list = sorted(list)
print(list)

['R', 'Stata', 'Python', 'C++', 'C#']

In [6]:
#Some of the commonly used libraries used by Data Scientists include:

list_libaries = ["Pandas", "Seaborn", "Matplotlib","NumPy"]
o_list = sorted(list_libaries)
print(list_libaries)

['Pandas', 'Seaborn', 'Matplotlib', 'NumPy']

In [12]:
#Data Science Tools

import pandas as pd
data = [["Numpy"], ["Pandas"], ["Matplotlib"], ["Scikit-learn"]]
df = pd.DataFrame(data, columns=["Data Science Tools"])
print(df.to_string(index=False))

Data Science Tools
             Numpy
            Pandas
        Matplotlib
      Scikit-learn

In [17]:
#Below are a few examples of evaluating arithmetic expressions in Python.
##This a simple arithmetic expression to mutiply then add integers

a = 3
b = 4
c = 5
 

result = (a * b)+c
print(result)

17

In [26]:
# Minutes to Hours 
## This will convert 200 minutes to hours by diving by 60.

m = 200
result_h = m/60
print(round(result_h, 2), "Hours")

3.33 Hours

# Author: Andr√© Luis Barbosa